<div>
  To view this website,
  <br />
  please enable JavaScript
  <br />
  or download a modern browser
  <br />
  such as <a href="https://www.google.com/chrome/" target="_blank">Chrome</a> or <a href="https://www.mozilla.org/en-US/" target="_blank">Firefox</a>.
</div>
