// Mixins

// -- Table of Contents --------------------------------------------------------
//
// 1. Resets
// 2. Hover/Active States
//
// -----------------------------------------------------------------------------





// -----------------------------------------------------------------------------
//
// 1. Resets
//
// -----------------------------------------------------------------------------


@mixin reset-anchor() {
  color: currentColor;
  text-decoration: none;
}


@mixin reset-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}


@mixin reset-button() {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:not(input) {
    user-select: none;
  }
}



// -----------------------------------------------------------------------------
//
// 2. Hover/Active States
//
// -----------------------------------------------------------------------------


@mixin hover-mouse() {
  &:hover {
    body.is-mouse & {
      @content;
    }
  }
}


@mixin hover-touch() {
  &:active {
    body.is-touch & {
      @content;
    }
  }
}


@mixin hover-both() {
  &:hover {
    body.is-mouse & {
      @content;
    }
  }

  &:active {
    body.is-touch & {
      @content;
    }
  }
}
